<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="kukaa">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.11721 0.00093362 0.10365"
        rpy="0 0 0" />
      <mass
        value="553.48" />
      <inertia
        ixx="12.503"
        ixy="0.066841"
        ixz="2.8363"
        iyy="27.301"
        iyz="-0.016485"
        izz="33.309" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kukaa/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kukaa/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-0.011212 0.01436 0.24467"
        rpy="0 0 0" />
      <mass
        value="633.8" />
      <inertia
        ixx="17.857"
        ixy="-2.6899"
        ixz="1.6654"
        iyy="33.002"
        iyz="-0.49207"
        izz="29.842" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kukaa/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kukaa/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_a1"
    type="revolute">
    <origin
      xyz="0 0 0.2236"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.44927 0.00098297 -0.2316"
        rpy="0 0 0" />
      <mass
        value="691.94" />
      <inertia
        ixx="11.762"
        ixy="0.38402"
        ixz="9.1746"
        iyy="137.26"
        iyz="-0.011243"
        izz="135.8" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kukaa/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kukaa/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_a2"
    type="revolute">
    <origin
      xyz="0.33 0.009 0.4094"
      rpy="-1.5708 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.10607 0.26439 0.10511"
        rpy="0 0 0" />
      <mass
        value="462.1" />
      <inertia
        ixx="31.952"
        ixy="-0.046601"
        ixz="-0.20533"
        iyy="3.9646"
        iyz="-0.78788"
        izz="31.684" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kukaa/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kukaa/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_a3"
    type="revolute">
    <origin
      xyz="1.15 0 -0.114"
      rpy="0 0 -1.5708" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="-5.29155304851425E-06 -0.00449279136470253 0.184668143148051"
        rpy="0 0 0" />
      <mass
        value="39.4171967588976" />
      <inertia
        ixx="0.692682886004037"
        ixy="7.27329971696745E-06"
        ixz="-1.92853552513509E-05"
        iyy="0.695500768714909"
        iyz="0.0315917382073994"
        izz="0.0970912879859823" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kukaa/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kukaa/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_a4"
    type="revolute">
    <origin
      xyz="0.115 0.8685 0.105"
      rpy="-1.5708 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="-4.5381E-05 0.051765 -0.025172"
        rpy="0 0 0" />
      <mass
        value="53.275" />
      <inertia
        ixx="0.66981"
        ixy="0.00015038"
        ixz="0.00027093"
        iyy="0.4771"
        iyz="0.11692"
        izz="0.42151" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kukaa/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kukaa/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_a5"
    type="revolute">
    <origin
      xyz="0 -0.059 0.3515"
      rpy="1.5708 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="2.1759E-05 -4.6365E-05 0.023222"
        rpy="0 0 0" />
      <mass
        value="4.4993" />
      <inertia
        ixx="0.0059812"
        ixy="4.6968E-06"
        ixz="-1.062E-06"
        iyy="0.0059674"
        iyz="1.7586E-06"
        izz="0.010749" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kukaa/meshes/link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kukaa/meshes/link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_a6"
    type="revolute">
    <origin
      xyz="0 0.17 -0.059"
      rpy="-1.5708 0 0" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>