<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="tuoche">
  <link
    name="base_tuoche">
    <inertial>
      <origin
        xyz="-0.351435599327956 -0.00648529976877721 0.235159953503967"
        rpy="0 0 0" />
      <mass
        value="138.276739295406" />
      <inertia
        ixx="22.5051721218961"
        ixy="-0.153519393546349"
        ixz="0.00600007438977771"
        iyy="11.8824550502389"
        iyz="-0.549519481475303"
        izz="24.373146508735" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tuoche/meshes/base_tuoche.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tuoche/meshes/base_tuoche.STL" />
      </geometry>
    </collision>
  </link>
</robot>