<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="zhaoke">
  <link
    name="base_zhaoke">
    <inertial>
      <origin
        xyz="0.902096483108737 0.00221579743935874 0.738876595882771"
        rpy="0 0 0" />
      <mass
        value="160.471969142295" />
      <inertia
        ixx="82.0762274131818"
        ixy="0.283318974191357"
        ixz="2.20352560747043"
        iyy="119.252982248079"
        iyz="0.22742646590216"
        izz="143.483503270804" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zhaoke/meshes/base_zhaoke.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://zhaoke/meshes/base_zhaoke.STL" />
      </geometry>
    </collision>
  </link>
</robot>